.card {
	width: 17em;
	height: 22.5em;
	background: #171717;
	transition: 1s ease-in-out;
	clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.card span,
.card #time-since,
.card .info,
.card .info-toggled,
.card .card-username span {
	color: white;
	text-align: center;
	display: block;
}

.card span,
.card .card-username span {
	font-weight: bold;
	font-size: 1.5em;
	margin: 1em;
}

#time-since {
	font-size: 1em;
}

.card .info,
.card .info-toggled {
	font-weight: 400;
	margin: 1em;
	margin-bottom: -1em;
	margin-top: -1em;
}

.card .info {
	font-size: 0.72em;
}

.card .info-toggled {
	font-size: 0.85em;

}

.card .img,
.card #img-pfp {
	width: 9em;
	height: 9em;
	margin: auto;
	margin-top: -2%;
	cursor: pointer;
}

.card #img-pfp {
	border-radius: 50%;
}

.card .links {
	display: flex;
	justify-content: center;
	gap: 1.5em;
	margin-top: 0.3em;
}

.card a {
	color: white;
	transition: 0.4s ease-in-out;
}

.card a:hover {
	color: grey;
}