/* Theme Toggle */

body {
    background-color: #121212;
    background-attachment: fixed;
    background-size: cover;
}

body.light-theme {
    background-color: #F4F3F2;
}

.toggle-theme {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.toggle-theme img {
    display: block;
    width: 36px;
    height: auto;
    cursor: pointer;
}

/* Navbar */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: -32px;

}

.navbar-logo img {
    width: 36%;
    height: auto;
}

.navbar-logo, .navbar-links ul {
    display: flex;
    align-items: center;
}

.navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links ul li {
    margin: 0 32px;
}

.dark-theme .navbar-links a {
    text-decoration: none;
    color: #F4F3F2;
}

.light-theme .navbar-links a {
    text-decoration: none;
    color: #121212;
}

/* Discord */

.container .discord {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    padding-right: 5%;
    margin-top: 5%;
}