body {
    background-color: #121212;
    background-attachment: fixed;
    background-size: cover;
}

body.light-theme {
    background-color: #F4F3F2;
}

.toggle-theme {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    
}

.toggle-theme img {
    display: block;
    width: 36px;
    height: auto;
    cursor: pointer;
}